OPENAI_COMPATIBLE_API_KEY=<your_llm_api_key>
OPENAI_COMPATIBLE_BASE_URL=https://api.deepseek.com/v1
IMAGE_VLM_API_KEY=<your_image_vlm_api_key>
IMAGE_VLM_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
